# Day 4 - API and Database insert

Using python to fetch data from an API and loading that data into a SQLite3 database.
Beforehand, I've run a python script to fetch data from CoinMarketCap to retrieve the top 100 cryptocurriencies and load them into a SQLite3 database.

I used [this](https://medium.com/@akshayvj1995/etl-with-python-fetching-cleaning-and-loading-cryptocurrency-data-into-sqlite-11cf4c189081) helpful guide, which I tweaked slightly 

For the reading and displaying of data from the database I used this helpful guide: https://wesmckinney.com/book/accessing-data.html#io_databases

In [ ]:
# Libraries
import sqlalchemy as sqla
import pandas as pd

In [13]:
db = sqla.create_engine("sqlite:///crypto.db")

In [14]:
crypto = pd.read_sql("SELECT * FROM 'crypto_db'", db)
crypto.head(10)

   ID         name  rank symbol      price_usd
0   1      Bitcoin     1    BTC  104933.594080
1   2     Ethereum     2    ETH    2525.643629
2   3  Tether USDt     3   USDT       1.000254
3   4          XRP     4    XRP       2.164369
4   5          BNB     5    BNB     650.000887
5   6       Solana     6    SOL     145.367358
6   7         USDC     7   USDC       0.999948
7   8     Dogecoin     8   DOGE       0.176418
8   9         TRON     9    TRX       0.268850
9  10      Cardano    10    ADA       0.632573